$primary: darken(#B0DD81,25%);
//$primary: #4aa1ff;
$very-large-space: 32px;
$large-space: 16px;
$medium-space: 8px;
$small-space: 4px;
$nav-height: 50px;

@mixin base-shadow() {
  box-shadow: 0px 0px 20px 0 #aaa;
}

@mixin base-shadow-bottom() {
  box-shadow: 0 5px 15px -5px  #aaa;
}

@mixin base-shadow-top() {
  box-shadow: 0 -5px 15px -5px  #aaa;
}


$input-btn-padding-y:         .20rem !default;
$input-btn-padding-x:         .75rem !default;

$input-btn-focus-width:       .1rem !default;

$input-btn-padding-y-sm:      .25rem !default;
$input-btn-padding-x-sm:      .5rem !default;

$input-btn-padding-y-lg:      .5rem !default;
$input-btn-padding-x-lg:      1rem !default;



$border-radius:               .15rem !default;
$border-radius-lg:            .15rem !default;
$border-radius-sm:            .15rem !default;
